@model MvcCheckBox.Models.Member
@{
    ViewBag.Title = "Submit";
}
<!DOCTYPE html>
<html>
<head>
    <title>
        Submit
    </title>
</head>
    <body>
        <div>
            <p>Name:@Model.Name</p>
            <p>Active:@Model.IsActive</p>

        </div>
    </body>

</html>